<section class="grid-gap">
  <article class="card-glass">
    <h1 class="h1">Admin Dashboard</h1>
    <div class="card-grid">
      <div class="card-glass inset"><div class="stat">Parsers</div></div>
      <div class="card-glass inset"><div class="stat">Tickets</div></div>
      <div class="card-glass inset"><div class="stat">Users</div></div>
      <div class="actions">
          <%= link_to "Open Data Parser", admin_parser_path, class: "btn-secondary" %>
      </div>
    </div>
  </article>
</section>
